.card{
    border: 1px solid #c7c7c7;
    background-color: #fafafa;
    width:350px;
    height: auto;
}
.main{
    background-color: white;
}
.container{
    margin-top: 50px;
}
.card{
    border: 1px solid #c7c7c7;
    background-color: #fafafa;
    width:500px;
    height: auto;
    margin: 0 auto;
}
.profile_img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
}
.custom-file{
    margin-bottom: 10px;
}
.card-header{
    text-align: center;
}

/* 탭 메뉴 */
button {
  background:none;
  border:0;
  outline:0;
  cursor:pointer;
}
.tab_menu_container {
  display:flex;
}
.tab_menu_btn {
  width:90px;
  height:40px;
  transition:0.3s all;
}
.tab_menu_btn.on {
  border-bottom:2px solid #df0000;
  font-weight:700;
  color:#df0000;
}
.tab_menu_btn:hover {
  color:#df0000;
}
.tab_box {
  display:none;
  padding:20px;
}
.tab_box.on {
  display:block;
}

/* mylist */

ul{list-style:none;}

.tabmenu{
  max-width:1000px;
  margin: 0 auto;
  position:relative;
}
.tabmenu ul li{
  display:  inline-block;
  width:33.33%;
  float:left;
  text-align:center;
}
.tabmenu label{
  display:block;
  width:100%;
  height:40px;
  line-height:40px;
}
.tabmenu input{display:none;}
.tabCon{
  display:none;
  text-align:left;
  padding: 20px;
  position:absolute;
  left:0; top:40px;
  width:1000px;
}
.tabmenu input:checked ~ label{
  background:#ccc;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}

.image {
		border: 0;
		display: inline-block;
		position: relative;
		box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
	}

		.image img {
			display: block;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			height: 200px;
			width: 200px;
		}

			.image.fit img {
				height: 200px;
			    width: 200px;
			}

		.image.book {
			display: block;
			margin: 2em 0 2em 0;
            width: 168px;
		}

			.image.book img {
			    align:center;
			    height:240px;
			    width: 168px;

			}

		.image.round {
			border-radius: 100%;
		}

			.image.round img {
				border-radius: 100%;
			}
.flex {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

footer {
    margin-top : 300px;
}
.pw_footer {
    margin-top : 450px;
}