
    <div class="row justify-content-center align-items-center">
        <div style="margin-top:100px;">
        <div class="card">
          <h4 class="card-header">서점 정보 수정</h4>
        <div class="card-body">
        <div class="text-center">
            {% if messages %}
                {% for message in messages %}
                  <p style="color:red"> {{message.message}} </p>
                {% endfor %}
            {% endif %}
          <img class="" src="">
        </div>
        <form class="mt-3" method="post" action='{% url "seller_accounts:bookstore_modify" user.id %}' enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              서점 이름<input type="text" class="form-control" id="name" name="store_name" placeholder="서점 이름" value="{{ store.store_name }}">
            </div>
            <div class="form-group">
              대표자 이름<input type="text" class="form-control" id="user_id" name="repre_name" placeholder="대표자 이름" value="{{ store.repre_name }}">
            </div>
            <div class="form-group">
              서점 주소<input type="text" class="form-control" id="address" name="address" placeholder="서점 주소" value="{{ store.address }}">
            </div>
            <div class="form-group">
              서점 연락처<input type="tel" class="form-control" id="store_number" name="store_number"
                     pattern="(010)-\d{3,4}-\d{4}" placeholder="서점 연락처 ex) 010-1234-1234" value="{{ store.store_num }}">
            </div>
            <div class="form-group">
              서점 E-Mail<input type="email" class="form-control" id="e_mail" name="e_mail" placeholder="서점 E-Mail" value="{{ store.store_email }}">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">서점 이미지</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="store_img" name="store_img" aria-describedby="inputGroupFileAddon01" value="{{ store.store_img }}">
                <label class="custom-file-label" for="store_img">파일을 선택해주세요.</label>
              </div>
            </div>
            <div class="form-group">
              서점 소개글<input type="text" class="form-control" id="store_msg" name="store_msg" placeholder="서점 소개글" value="{{ store.store_msg }}">
            </div>
            <button type="submit" class="btn btn-primary" onclick="info_modify()">수정 완료</button>
        </form>
        </div>
        </div>
        </div>
    </div>

<script type="text/javascript">
    function info_modify(){
        if (confirm("입력한 정보를 수정하시겠습니까?") == true){
            document.form.submit();
        }else{
            alert('취소되었습니다.');
            event.preventDefault();
        }
    }

    window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
            alert('제출 양식이 만료되었습니다.');
            history.back();
        }
    }
</script>