{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/_nav.css' %}">
{% endblock head %}
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse-uarr" >
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'seller:main' %}" title="" class="active">판매자 홈</a></li>
          <li><a href="#" title="">상품등록</a></li>
          <li><a href="{% url 'seller:product_list' %}" title="">상품 및 재고 관리</a></li>
          <li><a href="#" title="">판매관리</a></li>
          <li><a href="#" title="">정산조회</a></li>
          <li><a href="#" title="">반품관리</a></li>
          <li><a href="#" title="">반품관리</a></li>
          {% if user.is_authenticated and user.user_type == 3 %}
          <li><a href="{% url 'seller_accounts:seller_info' %}" title="">마이페이지</a></li>
            <li>
              <p>
                <a href="{% url 'customer_accounts:logout' %}" class="btn btn-primary navbar-btn" title="">로그아웃</a>
              </p>
            </li>
          {% else %}
            <li>
              <p>
                <a href="{% url 'seller_accounts:seller_login' %}" class="btn btn-primary navbar-btn" title="">로그인</a>
              </p>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
</header>