{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock head %}

{% block title %}
배송 상태 확인 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_seller_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div align="center" style="margin-top:100px;">
            <table class="order_history">
                <tr class="order_history_tr">
                    <th class="order_history_th" width="190">주문번호</th>
                    <th class="order_history_th" width="250">주문날짜</th>
                    <th class="order_history_th" width="150">결제금액</th>
                    <th class="order_history_th" width="100">
                        <form class="mt-3" method="post" enctype="multipart/form-data" action='{% url "seller:delivery_check" %}'>{% csrf_token %}
                              <select id="order_status" name="order_status">
                                <option value="">배송 상태별</option>
                                <option value="결제 완료">결제 완료</option>
                                <option value="배송 준비">배송 준비</option>
                                <option value="배송 중">배송 중</option>
                                <option value="배송 완료">배송 완료</option>
                              </select>
                            <button class="btn btn-primary" type="submit">조회</button>
                        </form>
                    </th>
                    <th class="order_history_th" width="100">확인버튼</th>
                </tr>
                {% for data in delivery_info %}
                <tr class="order_history_tr">
                    <td class="order_history_td" width="190">{{ data.order_num }}</a></td>
                    <td class="order_history_td" width="100">{{ data.buy_date }}</td>
                    <td class="order_history_td" width="250">{{ data.purchased_price }} 원</td>
                    <td class="order_history_td" width="250">{{ data.order_status }}</td>
                    <td class="order_history_td" width="250">
                        {% if data.order_status == "결제 완료" %}
                                <button class="after_button" onclick="delivery_check(this, '{{ data.order_num }}')">주문 확인</button>
                        {% elif data.order_status == "배송 준비" %}
                                <button class="after_button" onclick="delivery_check(this, '{{ data.order_num }}')">상품 인계</button>
                        {% elif data.order_status == "배송 중" %}
                                <button class="after_button">배송 중</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript">
function delivery_check(elm, n) {
        $.ajax({
            url: "{% url 'seller:delivery_check_ajax' 1 %}".replace("1",n),
            data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: "json",
            type: "POST",
            success: function(response){
                if (response.update_order_status == "배송 준비"){
                    $(elm).parent().prev().text("배송 준비");
                    $(elm).attr("onclick", "delivery_check(this, '" + n + "')");
                    $(elm).attr("class", "after_button");
                    $(elm).text("주문 확인");
                    alert('배송 준비로 변경되었습니다.');
                }
                else if (response.update_order_status == "배송 중"){
                    $(elm).parent().prev().text("배송 중");
                    $(elm).attr("onclick", "delivery_check(this, '" + n + "')");
                    $(elm).attr("class", "after_button");
                    $(elm).text("상품 인계");
                    alert('배송 중으로 변경되었습니다.');
                }
            },
            error: function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });
    }

</script>

{% endblock body %} 