{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock head %}

{% block title %}
반품관리 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_seller_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div align="center" style="margin-top:100px;">
            <table class="order_history">
                <tr class="order_history_tr">
                    <th class="order_history_th" width="190">환불요청자</th>
                    <th class="order_history_th" width="250">배송완료일</th>
                    <th class="order_history_th" width="150">환불사유</th>
                    <th class="order_history_th" width="100">상품이미지</th>
                    <th class="order_history_th" width="100">환불금액</th>
                    <th class="order_history_th" width="100">반품 접수</th>
                </tr>
                {% for data in products %}
                <tr class="order_history_tr">
                    <td class="order_history_td" width="190">{{ data.user_id }}<br>({{ data.user_name }})</td>
                    <td class="order_history_td" width="100">{{ data.delivery_compl_time }}</td>
                    <td class="order_history_td" width="250">{{ data.return_reason }}</td>
                    <td class="order_history_td" width="250"><img width="230" height="200" src="{{ data.product_img }}"></td>
                    <td class="order_history_td" width="250">{{ data.purchased_price }}원</td>
                    <td class="order_history_td" width="250">
                        {% if data.order_status == "반품 접수중" %}
                            <button class="before_button" name="return_check" onclick="return_check(this, '{{ data.return_id }}')">반품접수</button>
                        {% elif data.order_status == "반품 처리중" %}
                            <button class="after_button" name="return_check" onclick="return_check(this, '{{ data.return_id }}')">반품취소</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript">
    function return_check(elm, n) {
        $.ajax({
            url: "{% url 'seller:order_return_check_ajax' 1 %}".replace("1",n),
            data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: "json",
            type: "POST",
            success: function(response){
                if (response.update_return_status == "반품 처리중"){
                    $(elm).attr("onclick", "return_check(this, '" + n + "')");
                    $(elm).attr("class", "after_button");
                    $(elm).text("반품취소");
                    alert('반품접수 처리가 되었습니다.');
                }
                else if (response.update_return_status == "반품 접수중"){
                    $(elm).attr("onclick", "return_check(this, '" + n + "')");
                    $(elm).attr("class", "before_button");
                    $(elm).text("반품접수");
                    alert('반품접수 취소 처리가 되었습니다.');
                }
            },
            error: function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });
    }

</script>
{% endblock body %}