{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock head %}

{% block title %}
반품관리 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_seller_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div align="center" style="margin-top:100px;">
            <table class="order_history">
                <tr class="order_history_tr">
                    <th class="order_history_th" width="190">환불요청자</th>
                    <th class="order_history_th" width="250">환불접수일</th>
                    <th class="order_history_th" width="150">환불사유</th>
                    <th class="order_history_th" width="100">상품이미지</th>
                    <th class="order_history_th" width="100">환불금액</th>
                    <th class="order_history_th" width="100">반품 접수</th>
                    <th class="order_history_th" width="80">반품 완료</th>
                </tr>
                {% for data in products %}
                <tr class="order_history_tr">
                    <td class="order_history_td" width="190">{{ data.user_id }}<br>({{ data.user_name }})</td>
                    <td class="order_history_td" width="250">{{ data.time }}</td>
                    <td class="order_history_td" width="250">{{ data.return_reason }}</td>
                    <td class="order_history_td" width="250"><img width="230" height="200" src="{{ data.product_img }}"></td>
                    <td class="order_history_td" width="250">{{ data.purchased_price }}원</td>
                    <td class="order_history_td" width="80">
                        {% if data.order_status == "반품 접수중" %}
                            <button class="before_button" name="return_check" onclick="return_check(this, '{{ data.return_id }}')">반품접수</button>
                        {% elif data.order_status == "반품 처리중" %}
                            <button class="after_button" name="return_check" onclick="return_check(this, '{{ data.return_id }}')">반품취소</button>
                        {% endif %}
                        {% if data.order_status == "반품 완료" %}
                            <p>반품완료</p>
                        {% else %}
                            <button class="after_button" onclick="return_reject(this, '{{ data.return_id }}')">반품거절</button>
                        {% endif %}
                    </td>
                    <td class="order_history_td" width="80">
                        {% if data.order_status == "반품 처리중" %}
                            <button class="before_button" name="return_complete" onclick="return_reject_compl(this, '{{ data.return_id }}')">미완료</button>
                        {% elif data.order_status == "반품 완료" %}
                            <button class="after_button" name="return_complete" onclick="return_reject_compl(this, '{{ data.return_id }}')">완료</button>
                        {% else %}
                            <p>X</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="modal" class="return_reject">
            <div class="return-modal-content">
                <div class="page-header">
                    <h1>반품 거절사유 입력</h1>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="mt-3" id="return_reject_form" name="return_reject_form" method="POST" enctype="multipart/form-data" action="#">
                                    {% csrf_token %}
                                    <textarea cols="120" rows="7" name="reject_reason" placeholder="반품 거절 사유를 입력해주세요."></textarea><br>

                                    <button type="submit" class="after_button" onclick="">입력완료</button>
                                </form><br>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;" onClick="closeModal();">
                    <span class="pop_bt modalCloseBtn" style="font-size: 13pt;">닫기
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript">
    function return_check(elm, n) {
        $.ajax({
            url: "{% url 'seller:order_return_check_ajax' 1 %}".replace("1",n),
            data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: "json",
            type: "POST",
            success: function(response){
                if (response.update_return_status == "반품 처리중"){
                    $(elm).attr("onclick", "return_check(this, '" + n + "')");
                    $(elm).attr("class", "after_button");
                    $(elm).text("반품취소");
                    alert('반품접수 처리가 되었습니다.');
                }
                else if (response.update_return_status == "반품 접수중"){
                    $(elm).attr("onclick", "return_check(this, '" + n + "')");
                    $(elm).attr("class", "before_button");
                    $(elm).text("반품접수");
                    alert('반품접수 취소 처리가 되었습니다.');
                }
            },
            error: function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });
    }

    function return_reject(elm, n) {
        var action = "/seller/order-return-reject/" + n + "/";
        $("#return_reject_form").attr("action",action);

        $("#modal").show();
    }

    function closeModal() {
        $('.return_reject').hide();
    }

    function return_reject_compl(elm, n) {
        $.ajax({
            url: "{% url 'seller:order_return_reject_compl_ajax' 1 %}".replace("1",n),
            data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
            dataType: "json",
            type: "POST",
            success: function(response){
                if (response.update_return_complete == 1){
                    $(elm).attr("onclick", "return_reject_compl(this, '" + n + "')");
                    $(elm).attr("class", "after_button");
                    $(elm).text("완료");
                    alert('반품 완료처리가 되었습니다.');
                }
                else if (response.update_return_complete == 0){
                    $(elm).attr("onclick", "return_reject_compl(this, '" + n + "')");
                    $(elm).attr("class", "before_button");
                    $(elm).text("미완료");
                    alert('반품 미완료처리가 되었습니다..');
                }
            },
            error: function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
        });
    }
</script>
{% endblock body %}