{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/product_manage.css' %}">
{% endblock head %}

{% block title %}
판매자 홈 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_seller_nav.html' %}
{% endblock _nav %}

{% block body %}

<div class="container">
    <div align="center">
        <div align="right" style="margin:30px 0 30px 0;">
        <form class="mt-3" method="post" enctype="multipart/form-data" action='{% url "seller:search_book_in_manage" %}'>{% csrf_token %}
            <label for="search_book">수정하거나 삭제할 책을 검색하세요</label><br>
            <input id="search_book" type="text" name="search_book" value="{{search_book}}" size="35" placeholder="책 제목이나 작가이름으로 검색하세요">
            <button class="btn btn-primary" type="submit">검색</button>
            {% if messages %}
                {% for message in messages %}
                  <p style="color:red"> {{message.message}} </p>
                {% endfor %}
            {% endif %}
        </form>
        </div>
        <hr>
        {% if tab == 'search_book' %}
        <div class="content">
            <a href="{% url 'seller:product_list' %}" >전체 목록 보기</a>
            {% for book in books %}
                <div style="margin-top:50px;" class="list">&nbsp;
                        <img width="80" height="110" style="margin-left:140px;" src="{{ book.book_img }}">
                        <table class="book_table">
                            <tr>
                                <th width="200px;"><p class="content title">상품명</p></th>
                                <th width="180px;"><p class="content title">작가</p></th>
                                <th width="100px;"><p class="content title">가격</p></th>
                                <th width="80px;"><p class="content title">수량</p></th>
                            </tr>
                            <tr>
                                <td width="200px;"><p class="content">{{ book.book_name }}</p></td>
                                <td width="180px;"><p class="content">{{ book.author }}원</p></td>
                                <td width="100px;"><p class="content">{{ book.price }}원</p></td>
                                <td width="80px;"><p class="content">{{ book.quantity }}권</p></td>
                            </tr>
                        </table>
                        <div>
                            <button type="button" class="button" onclick="location.href = 'javascript:popup()'">수정</button>
                            <button type="button" class="button" onclick="location.href = '{% url 'seller:book_delete' book.store_id book.isbn %}'">삭제</button>
                        </div>
                </div>
            <hr>
            {% endfor %}
        </div>
        {% else %}
        <h3 align="left">현재 등록되어있는 책 목록입니다</h3>
        {% for book in books %}
        <div style="margin-top:50px;" class="list">&nbsp;
                <img width="80" height="110" style="margin-left:140px;" src="{{ book.book_img }}">
                <table class="book_table">
                    <tr>
                        <th width="200px;"><p class="content title">상품명</p></th>
                        <th width="180px;"><p class="content title">작가</p></th>
                        <th width="100px;"><p class="content title">가격</p></th>
                        <th width="80px;"><p class="content title">수량</p></th>
                    </tr>
                    <tr>
                        <td width="200px;"><p class="content">{{ book.book_name }}</p></td>
                        <td width="180px;"><p class="content">{{ book.author }}원</p></td>
                        <td width="100px;"><p class="content">{{ book.price }}원</p></td>
                        <td width="80px;"><p class="content">{{ book.quantity }}권</p></td>
                    </tr>
                </table>
                <div>
                    <form name=form1 method=post>

<input type="text" name="user_id" value="아이디">

                    <button type="button" class="button" onclick="popup()">수정</button>
                        </form>
                        <input type="hidden" id="store_id" name="store_id" value="{{book.store_id}}">
                        <input type="hidden" id="pInput" name="isbn" value="{{book.isbn}}">
                        <button type="submit" class="button" onclick="openChild();">수정</button>
                    <button type="button" class="button" onclick="location.href = '{% url 'seller:book_delete' book.store_id book.isbn %}'">삭제</button>
                </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>

</div>
{% block footer %}
{% include 'footer.html' %}
{% endblock footer  %}

<script>
document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
});

function popup(){
            var check =document.form1;

            window.open('', 'POP');

            check.action="{% url 'seller:book_modify' %}";

            check.target='POP';

            check.submit();
        }
function open_pop(store_id, isbn){
    var frmPop= document.frmPopup;
    var url = "{% url 'seller:book_modify' %}";
    var name = "상품 정보 및 재고 수정";
    var option = "width = 600, height = 600, top = 100, left = 200, location = no";
    window.open(url, name, option);

    frmPop.action = url;
    frmPop.target = "상품 정보 및 재고 수정";
    frmPop.store_id.value = document.getElementById("store_id");
    frmPop.isbn.value = document.getElementById("isbn");
    frmPop.method="post";
    frmPop.submit();

}
var openWin;

function openChild(){
    // window.name = "부모창 이름";
    window.name = "parentForm";
    // window.open("open할 window", "자식창 이름", "팝업창 옵션");
    var url = "{% url 'seller:book_modify' %}";
    var option = "width = 600, height = 600, top = 100, left = 200, location = no";
    openWin = window.open(url, "childForm", option);

    openWin.document.getElementById("cInput").value = document.getElementById("pInput").value;
    }

function setChildText(){
    openWin.document.getElementById("cInput").value = document.getElementById("pInput").value;
}

</script>

<script type="text/javascript" src="./main.41beeca9.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

{% endblock body %}