<form class="mt-3" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="author" name="author" placeholder="작가" required readonly>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="publisher" name="publisher" placeholder="출판사" required readonly>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" id="inven" name="inven" placeholder="등록수량" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="price" name="price" placeholder="판매가격" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="book_msg" name="book_msg" placeholder="책 소개" rows="5" required></textarea>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="book_img" name="book_img" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="book_img">책 사진을 업로드해주세요.</label>
              </div><br>
            <button type="submit" class="btn btn-primary" onclick="register_confirm()">상품 등록</button>
        </form>