.order_history {
    border: 1px solid #c5c5f1;
    border-collapse: collapse;
    text-align:center;
  }
  .order_history_th, .order_history_td {
    border: 1px solid #c5c5f1;
    padding: 8px;
    text-align:center;
  }
  .order_history_th {
    background-color: #E6E6FA;
    text-align:center;
  }

.after_button {
    width:80px;
    background-color: #1e96ff;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
    font-weight: bolder;
}

.before_button{
    width:80px;
    background-color: #fff;
    border-color: #1e96ff;
    border-width: 2px;
    border-style: solid;
    color: #1e96ff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius:10px;
    font-weight: bolder;
}