{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock head %}

{% block title %}
alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}

    <div class="row justify-content-center align-items-center">
        <div style="margin-top:100px;">
        <div class="card">
          <h4 class="card-header">비밀번호 확인</h4>
        <div class="card-body">
        <div class="text-center">
          <img class="" src="">
        </div>
        <form class="mt-3" method="post" action='{% url "accounts:customerPasswordCheck" %}'>{% csrf_token %}
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="본인 확인을 위해 비밀번호를 입력해주세요.">
            </div>
            <button type="submit" class="btn btn-primary" onclick="">완료</button>
        </form>
        </div>
        </div>
            {% if messages %}
            <div>
                {% for message in messages %}
                    {{message.message}}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock body %}