.container {
  overflow: auto;
}

.aside {
  float: left;
  width:350px;
  padding:20px;
}
.aside-result {
  float: left;
  width:200px;
  padding:20px;
}

.content {
  float: right;
  width:600px;
  height:1500px;
  padding-top:50px;
  overflow:auto;
}

.content-2 {
  width:1000px;
  padding-top:35px;
}

.flex {
    display: flex;
}

.flex-book {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
    .flex-book.result {
        padding-left:130px;
    }

.col {
    flex-basis:100px;
}

.image {
		border: 0;
		display: inline-block;
		position: relative;
		box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}
       .image.book {
            display: block;
            margin: 2em 0 2em 0;
            width: 168px;
       }
            .image.book img {
                align:center;
                height:240px;
                width: 168px;
                }

/* tab */

ul{list-style:none;}

.tabmenu{
  max-width:1000px;
  height:1000px;
  margin-bottom:300px;
  position:relative;
}
.tabmenu ul li{
  display:  inline-block;
  width:33.33%;
  float:left;
  text-align:center;
}
.tabmenu label{
  display:block;
  width:100%;
  height:40px;
  line-height:40px;
}
.tabmenu input{display:none;}
.tabCon{
  display:none;
  text-align:left;
  padding: 20px;
  position:absolute;
  left:0; top:40px;
  width:1000px;
}
.tabmenu input:checked ~ label{
  background:#ccc;
}
.tabmenu input:checked ~ .tabCon{
  display:block;
}

footer {
    margin-top : 0px;
}