.container {
  overflow: hidden;
}

.aside {
  float: left;
  width: 350px;
  margin-right: 50px;
}

.content {
  float: right;
}

.tab_box_container {
    float: left;
    width: 1000px;
}

.flex {
    display: flex;
}

.flex-2 {
    display: flex;
    flex-direction: column;
}

.list {
    width:300px;
    margin-left:20px;
}