.container {
  overflow: hidden;
}

.aside {
  float: left;
  width: 350px;
  margin-right: 50px;
}

.search_book {
    float: right;
    width: 700px;
}

.result_box {
    margin-bottom: 30px;
    display: flex;
}

.book_title {
    font-family: serif;
    font-weight: bolder;
    font-size: 25px;
}

.book_content {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;
}

.search_keyword {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    display: block;
}