.container {
  float: left;
  overflow: hidden;
}

.aside {
  float: left;
  width: 350px;
  margin-right: 50px;
}

.content {
  float: right;
  margin-right: 150px;
}

.tab_box_container {
    float: left;
    width: 200px;
}