{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock head %}

{% block title %}
마이페이지 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <div style="margin-top:100px;">
        <div class="card">
          <h4 class="card-header">비밀번호 확인</h4>
        <div class="card-body">
        <div class="text-center">
            {% if messages %}
                {% for message in messages %}
                  <p style="color:red"> {{message.message}} </p>
                {% endfor %}
            {% endif %}
          <img class="" src="">
        </div>
        <form class="mt-3" method="post" action='{% url "customer_accounts:password_check" %}'>{% csrf_token %}
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="본인 확인을 위해 비밀번호를 입력해주세요.">
            </div>
            <button type="submit" class="btn btn-primary" onclick="">완료</button>
        </form>
        </div>
        </div>
        </div>
    </div>

<div class="pw_footer">
<script type="text/javascript">
    window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
            alert('제출 양식이 만료되었습니다.');
            history.back();
        }
    }
</script>
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
</div>

{% endblock body %}