
    <div class="row justify-content-center align-items-center">
        <div style="margin-top:100px;">
        <div class="card">
          <h4 class="card-header">회원탈퇴</h4>
        <div class="card-body">

        <div class="text-center mt-3">
           <b>본인확인을 위해 ID와 비밀번호를 입력해주세요</b><br><br>
        </div>

        <div class="text-center">
            {% if messages %}
                {% for message in messages %}
                  <p style="color:red"> {{message.message}} </p>
                {% endfor %}
            {% endif %}
          <img class="" src="">
        </div>

        <form class="mt-3" method="post" action='{% url "customer_accounts:user_delete" %}'>{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" id="id" name="id" placeholder="ID">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
            </div>
            <button type="submit" class="btn btn-primary" onclick="user_delete()">회원탈퇴</button>
        </form>
        </div>
        </div>
        </div>
    </div>


<script type="text/javascript">
    function user_delete(){
        if (confirm("정말로 탈퇴하시겠습니까?") == true){
            document.form.submit();
        }else{
            event.preventDefault();
        }
    }

    window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
            alert('제출 양식이 만료되었습니다.');
            history.back();
        }
    }

</script>