{% load static %}
<%@page import="java.util.ArrayList"%>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link href="./assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">

  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/_nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <title>
    {% block title %}
    {% endblock title %}
  </title>
<script src="https://kit.fontawesome.com/0b02921f0e.js" crossorigin="anonymous"></script>
  {% block head %}
  {% endblock head %}
</head>
<body>
    {% block _nav %}
    {% endblock _nav %}

    {% block body %}

    {% block footer %}
    {% endblock footer %}

    {% endblock body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>