{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/store_detail.css' %}">
{% endblock head %}

{% block title %}
서점 상세 페이지 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container">
<div class="background-image-container">
    <div class="flex">
        <div class="col col1">
            <div class="image round fit">
                {% if store.store_img == None %}
                <img src="{% static 'images/bookstore_icon.png' %}">
                {% else %}
                <img src="{{ store.store_img }}">
                {% endif %}
            </div>
        </div>
        <div class="col col2">
            <div class="flex-2">
                <h3>{{ store.store_name }}</h3>
                {% if user.is_authenticated %}
                {% if is_favorite == False %}
                <i class="far fa-star fa-2x" title="즐겨찾기" onclick="favorite(this, '{{store.store_id}}')"></i>
                {% elif is_favorite == True %}
                <i class="fas fa-star fa-2x" title="즐겨찾기" onclick="unfavorite(this, '{{store.store_id}}')"></i>
                {% endif %}
                {% endif %}
            </div>
            <p>주소 | {{ store.address }}<br>
                번호 | {{ store.phone_num }}<br>
                소개 | {{ store.store_msg }}<br></p>
        </div>
    </div>
</div>
    <div class="content">
        {% for book in books %}
                <div class="col">
                    <a href="{% url 'customer:book_detail' book.isbn book.store_id %}" >
                    <div class="image book">
                        <img align="center" src="{{ book.book_img }}" alt="" />
                    </div>
                    <p>{{ book.book_name }}</p>
                    <p>{{ book.price }}원</p>
                    </a>
                </div>
        {% endfor %}
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer  %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function favorite(elm, n){
        $.ajax({
            url: "{% url 'customer:favorite' 1 %}".replace('1', n),
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: "json",
            type: "POST",
            success: function(response){
               $(elm).attr("class", "fas fa-star fa-2x");
               $(elm).attr("onclick", "unfavorite(this, '" + n + "')");
            },
            error: function(xhr) {
                    alert("즐겨찾기를 하는 과정에서 에러가 발생했습니다.");
            }
        });
    }
    function unfavorite(elm, n){
        $.ajax({
            url: "{% url 'customer:unfavorite' 1 %}".replace('1', n),
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
            dataType: "json",
            type: "POST",
            success: function(response){
               $(elm).attr("class", "far fa-star fa-2x");
               $(elm).attr("onclick", "favorite(this, '" + n + "')");
            },
            error: function(xhr) {
                    alert("즐겨찾기를 취소하는 과정에서 에러가 발생했습니다.");
            }
        });
    }

</script>

{% endblock body %}