<form class="mt-3" method="post" enctype="multipart/form-data" action="{% url 'customer:order' %}">{% csrf_token %}
주문자<input type="text" class="form-control" id="name" name="name" value="{{ user.first_name }}">
                이메일
                  <input type="email" class="form-control" id="e_mail" name="e_mail" value="{{ user.email }}">
                연락처
                  <input type="tel" class="form-control" id="phone_number" name="p_number"
                         pattern="(010)-\d{3,4}-\d{4}" value="{{ user.phone_number }}">
                주소
                  <input type="text" class="form-control" id="address" name="address" value="{{ user.address }}">
                배송메모<input type="text" class="form-control" id="memo" name="memo" placeholder="ex)부재시 문 앞에 배송해주세요">

                <hr>
            <div class="flex-order">
                <h4>결제 수단</h4>
                <p><input type="radio" name="chk_info" value="card" checked>카드결제</p>
                <p><input type="radio" name="chk_info" value="bank">무통장입금</p>
            </div>
    <input type="hidden" name="price" value="{{goods.price}}">
    <input type="hidden" name="store" value="{{goods.store_name}}">
    <input type="hidden" name="book" value="{{goods.book_name}}">
            <button type="submit" class="btn btn-primary">결제하기</button>
</form>