<form class="mt-3" name="order_create" method="post" enctype="multipart/form-data" action="{% url 'customer:order' %}">{% csrf_token %}
주문자<input type="text" class="form-control" id="name" name="name" value="{{ user.first_name }}">
                이메일
                  <input type="email" class="form-control" id="e_mail" name="e_mail" value="{{ user.email }}">
                연락처
                  <input type="tel" class="form-control" id="phone_number" name="p_number"
                         pattern="(010)-\d{3,4}-\d{4}" value="{{ user.phone_number }}">
                주소
                  <input type="text" class="form-control" id="address" name="address" value="{{ user.address }}">
                배송메모<input type="text" class="form-control" id="memo" name="memo" placeholder="ex)부재시 문 앞에 배송해주세요">

                <hr>
            <div class="flex-order">
                <h4>결제 수단</h4>
                <p><input type="radio" name="chk_info" value="card" checked>카드결제</p>
                <p><input type="radio" name="chk_info" value="bank">무통장입금</p>
            </div>
    {% if tab == 'basket' %}
        {% for goods in carts %}
            <input type="hidden" name="price" value="{{goods.price}}">
            <input type="hidden" name="store" value="{{goods.store_name}}">
            <input type="hidden" name="book" value="{{goods.book_name}}">
        {% endfor %}
    {% else %}
    <input type="hidden" name="price" value="{{goods.price}}">
    <input type="hidden" name="store" value="{{goods.store_name}}">
    <input type="hidden" name="book" value="{{goods.book_name}}">
    {% endif %}
            <button type="submit" class="btn btn-primary">결제하기</button>
</form>

<button onclick="payment()" class="btn btn-primary">진짜결제</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
<script type="text/javascript">

function payment() {
        var form = document.order_create;

        $(function(){
            var IMP = window.IMP;
            IMP.init('imp96816484');

           IMP.request_pay({
               pg : 'kakao',
               pay_method : 'card',
               merchant_uid : 'merchant_' + new Date().getTime(),
               name : $('input[name=book]').val(),
               amount : $('input[name=price]').val(),
               buyer_email : $('input[name=e_mail]').val(),
               buyer_name :  $('input[name=name]').val(),
               buyer_tel :  $('input[name=phone_number]').val(),
               buyer_addr :  $('input[name=address]').val(),
               buyer_postcode :  '',
               m_redirect_url : '/khx/payEnd.action'	// 결제 완료 후 보낼 컨트롤러의 메소드명
           }, function(rsp) {
            if ( rsp.success ) { // 성공시
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                form.submit();

            } else { // 실패시
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            });

        });
    }

</script>