{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock head %}

{% block title %}
FAQ | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div style="width:1000px">
            <h3>| 자주찾는 질문 (FAQ)</h3><br>
            {% if user.is_authenticated %}
            <button style="font-weight:bold; font-size:20px; margin-left:-8px" onclick="location.href='{% url 'customer:individual_question' store_id %}'">▶ 1:1 문의하기</button><br><br><br>
            {% endif %}
            {% for data in question_info %}
                <h4 id="title" name="title" style="font-weight:bold; display:flex">
                    <b>● {{ data.title }}</b>
                    &nbsp;&nbsp;<a onclick="detail_view(this)">▼</a>&nbsp;&nbsp;
                </h4>
                <p style="display:None; font-weight:bold; font-size:20px" id="content" name="content">A. {{ data.content }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript">
    function detail_view(elm){
        if ($(elm).parent().next().attr("style") == "display:None; font-weight:bold; font-size:20px"){
            $(elm).parent().next().attr("style", "display:visible; font-weight:bold; font-size:20px");
        }else if ($(elm).parent().next().attr("style") == "display:visible; font-weight:bold; font-size:20px")
            $(elm).parent().next().attr("style", "display:None; font-weight:bold; font-size:20px");
    }
</script>

{% endblock body %}