<form class="mt-3" method="post" enctype="multipart/form-data" action='{% url "customer:keyword_search" %}'>
    {% csrf_token %}
    <input type="text" class="form-control" id="search_store" name="search_store" placeholder="찾고싶은 서점을 검색하세요." required>
    <button type="submit" class="btn btn-primary" onclick="setBounds()">검색</button>
</form>
<br>
<div class="text-center">
    {% if messages %}
    {% for message in messages %}
        <p style="color:red"> {{message.message}} </p>
    {% endfor %}
    {% endif %}
</div>

{% for store in liststores %}
<a href="{% url 'customer:bookstore_detail' store.store_id %}" >
    <h3>{{store.store_name}}</h3>
</a>
<p>{{store.address}}</p>
{% endfor %}
