{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order_sheet.css' %}">
{% endblock head %}

{% block title %}
주문 확인 페이지 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container">
  <h2>주문이 완료되었습니다</h2>
      <div class="card">
          <h5>주문번호 {{info.order_num}}</h5>
          <hr>
        <h4>주문 상품 정보</h4>
        {% for book in products %}
        <table>
            <tr>
                <td rowspan="3"><img src="{{ book.book_img }}" width="75px" height="100px"></td>
                <td width="190">상품명</td>
                <td width="100">가격</td>
                <td width="100">서점</td>
            </tr>
            <tr>
                <td width="190">{{book.book_name}}</td>
                <td width="100">{{book.price}}원</td>
                <td width="100">{{book.store_name}}</td>
            </tr>
        </table>
        {% endfor %}
          <hr>
          <h4>주문자 정보</h4>
          <h5>이름   {{info.order_name}}</h5>
          <h5>연락처 {{info.order_p_num}}</h5>
          <h5>주소   {{info.order_address}}</h5>
          {% if payment.payment == 'bank' %}
              <hr>
              <h4>무통장 입금 정보</h4>
              <h5>{{payment.due_date}}까지 입금해주세요</h5>
              {% for info in account_info %}
              <table>
                <tr>
                    <td width="100">서점</td>
                    <td width="100">총 가격</td>
                    <td width="60">은행</td>
                    <td width="130">계좌</td>
                </tr>
                <tr>
                    <td width="100">{{info.store_name}}</td>
                    <td width="100">{{info.price}}원</td>
                    <td width="60">{{info.bank}}</td>
                    <td width="130">{{info.account}}</td>
                </tr>
              </table>
              {% endfor %}
          {% else %}
          {% endif %}
          <button class="btn btn-primary" onclick="location.href='{% url 'customer:mypage' %}'">구매내역 보기</button>
          <button class="btn btn-primary" onclick="location.href='{% url 'customer:main' %}'">홈으로 돌아가기</button>
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer  %}

{% endblock body %}