
<div align="center">
    <form class="mt-3" method="post" enctype="multipart/form-data" action='{% url "customer:order_history" %}'>{% csrf_token %}
        <label for="order_num">주문번호</label>
        <input id="order_num" type="textarea" name="order_num" value="{{order_num}}">
        <input type="month" id="currnetMonth" name="date">
        <label for="order_status">배송 상태별</label>
          <select id="order_status" name="order_status">
            <option value="">전체 보기</option>
            <option value="결제 대기중">결제 대기중</option>
            <option value="결제 완료">결제 완료</option>
            <option value="shipping">배송 중</option>
            <option value="shipping_complete">배송 완료</option>
            <option value="cancel_refund">취소/환불</option>
          </select>
        <button class="btn btn-primary" type="submit">조회</button>
    </form>
    <hr>
    <table class="order_history">
        <tr class="order_history_tr">
            <th class="order_history_th" width="190">주문일</th>
            <th class="order_history_th" width="190">주문번호</th>
            <th class="order_history_th" width="100">수령인</th>
            <th class="order_history_th" width="250">주문상품</th>
            <th class="order_history_th" width="100">배송상태</th>
        </tr>
        {% for goods in order_history %}
        <tr class="order_history_tr">
            <td class="order_history_td" width="190">{{goods.buy_date}}</td>
            <td class="order_history_td" width="190"><a href="{% url 'customer:order_detail' goods.order_num %}" >{{goods.order_num}}</a></td>
            <td class="order_history_td" width="100">{{goods.order_name}}</td>
            {% if goods.book_count == 1 %}
            <td class="order_history_td" width="250"><p>{{goods.book_name}}</p>
            {% else %}
            <td class="order_history_td" width="250"><p>{{goods.book_name}} 외 총 {{goods.book_count}}권</p>
            {% endif %}
                            <p>총 가격 {{goods.sum_price}}원</p></td>
            <td class="order_history_td" width="100">{{goods.order_status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>
  document.getElementById('currnetMonth').value= new Date().toISOString().slice(0, 7);
</script>