{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order_sheet.css' %}">
{% endblock head %}

{% block title %}
주문 페이지 | alleybookstore
{% endblock title %}

{% block _nav %}
  {% include '_nav.html' %}
{% endblock _nav %}

{% block body %}
<div class="container"><br>
    <div class="card">
        <h4>주문 상품 정보</h4>
        {% if tab == 'basket' %}
            <table>
                {% for goods in carts %}
                <tr>
                    <td rowspan="2"><img src="{{ goods.book_img }}" width="70px" height="100px"></td>
                    <td width="200">상품명</td>
                    <td width="80">가격</td>
                    <td width="200">서점</td>
                    <td width="45">수량</td>
                </tr>
                <tr>
                    <td width="200">{{goods.book_name}}</td>
                    <td width="80">{{goods.price}}원</td>
                    <td width="200">{{goods.store_name}}</td>
                    <td width="45">{{goods.quantity}}권</td>
                </tr>
                {% endfor %}
            </table>
        <br><p align="right" style="font-weight:bold">총 금액 &nbsp; : &nbsp; <a>{{total_price}}</a> 원</p>
        {% else %}
        <table>
            <tr>
                <td rowspan="3"><img src="{{ goods.book_img }}" width="70px" height="100px"></td>
                <td width="200">상품명</td>
                <td width="80">가격</td>
                <td width="200">서점</td>
                <td width="50">수량</td>
            </tr>
            <tr>
                <td width="200">{{goods.book_name}}</td>
                <td width="80">{{goods.price}}원</td>
                <td width="200">{{goods.store_name}}</td>
                <td width="50">{{goods.quantity}}권</td>
            </tr>
        </table>
        <br><p align="right" style="font-weight:bold">총 금액 &nbsp; : &nbsp; <a>{{total_price}}</a> 원</p>
        {% endif %}
    </div>
    <br>
    <div class="card">
        <h4>배송지 정보</h4>
            <div class="tab_wrap">
                <div class="tab_menu_container">
                  <button id="default_sheet" class="tab_menu_btn on" type="button">기본배송지</button>
                  <button id="new_sheet" class="tab_menu_btn" type="button">신규배송지</button>
                </div> <!-- tab_menu_container e -->

                <div class="tab_box_container">
                  <div class="tab_box on">
                      <form class="mt-3" name="order_create" method="post" enctype="multipart/form-data" action="{% url 'customer:order' %}">{% csrf_token %}
                주문자<input type="text" class="form-control" id="name" name="name" value="{{ user.first_name }}">
                이메일
                  <input type="email" class="form-control" id="e_mail" name="e_mail" value="{{ user.email }}">
                연락처
                  <input type="tel" class="form-control" id="phone_number" name="p_number"
                         pattern="(010)-\d{3,4}-\d{4}" value="{{ user.phone_number }}">
                주소
                  <input type="text" class="form-control" id="address" name="address" value="{{ user.address }}">
                배송메모<input type="text" class="form-control" id="memo" name="memo" placeholder="ex)부재시 문 앞에 배송해주세요">

                <hr>
            <div class="flex-order">
                <h4>결제 수단</h4>
                <p><input type="radio" name="payment" value="card" checked>카드결제</p>
                <p><input type="radio" name="payment" value="bank">무통장입금</p>
            </div>
    {% if tab == 'basket' %}
        {% for goods in carts %}
            <input type="hidden" name="price" value="{{goods.price}}">
            <input type="hidden" name="store" value="{{goods.store_name}}">
            <input type="hidden" name="book" value="{{goods.book_name}}">
            <input type="hidden" name="quantity" value="{{goods.quantity}}">
        {% endfor %}
    {% else %}
    <input type="hidden" name="price" value="{{goods.price}}">
    <input type="hidden" name="store" value="{{goods.store_name}}">
    <input type="hidden" name="book" value="{{goods.book_name}}">
    <input type="hidden" name="quantity" value="{{goods.quantity}}">
    {% endif %}
            <input type="checkbox" name="check">&nbsp;위 주문 내용을 확인 하였으며, 회원 본인은 결제에 동의합니다.</input>
</form></div>
                  <div class="tab_box">
                      <form class="mt-3" name="new_order_create" method="post" enctype="multipart/form-data" action="{% url 'customer:order' %}">{% csrf_token %}
                주문자<input type="text" class="form-control" id="new_name" name="name" required>
                이메일
                  <input type="email" class="form-control" id="new_e_mail" name="e_mail">
                연락처
                  <input type="tel" class="form-control" id="new_phone_number" name="p_number"
                         pattern="(010)-\d{3,4}-\d{4}" required>
                주소
                  <input type="text" class="form-control" id="new_address" name="address" required>
                배송메모<input type="text" class="form-control" id="new_memo" name="memo" placeholder="ex)부재시 문 앞에 배송해주세요">
    <hr>
            <div class="flex-order">
                <h4>결제 수단</h4>
                <p><input type="radio" name="payment" value="card" checked>카드결제</p>
                <p><input type="radio" name="payment" value="bank">무통장입금</p>
            </div>
    {% if tab == 'basket' %}
        {% for goods in carts %}
            <input type="hidden" name="price" value="{{goods.price}}">
            <input type="hidden" name="store" value="{{goods.store_name}}">
            <input type="hidden" name="book" value="{{goods.book_name}}">
            <input type="hidden" name="quantity" value="{{goods.quantity}}">
        {% endfor %}
    {% else %}
    <input type="hidden" name="price" value="{{goods.price}}">
    <input type="hidden" name="store" value="{{goods.store_name}}">
    <input type="hidden" name="book" value="{{goods.book_name}}">
    <input type="hidden" name="quantity" value="{{goods.quantity}}">
    {% endif %}
            <input type="checkbox" name="check">&nbsp;위 주문 내용을 확인 하였으며, 회원 본인은 결제에 동의합니다.</input>
</form></div>
            <button onclick="payment()" class="btn btn-primary">결제하기</button>
                </div> <!-- tab_box_container e -->

            </div> <!-- tab_wrap e -->


    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
<script type="text/javascript">
    $('.tab_menu_btn').on('click',function(){
      //버튼 색 제거,추가
      $('.tab_menu_btn').removeClass('on');
      $(this).addClass('on')

      //컨텐츠 제거 후 인덱스에 맞는 컨텐츠 노출
      var idx = $('.tab_menu_btn').index(this);


      $('.tab_box').hide();
      $('.tab_box').eq(idx).show();
    });


    function payment(){
        var thisForm = document.order_create;

        if (document.getElementById('default_sheet').className === "tab_menu_btn on") {
            var thisForm = document.order_create;
        }else {
            var thisForm = document.new_order_create;
        }

        //사용자가 주문하기 전, 해당 정보를 다시 확인하기 위함.
        var order_check = thisForm.check.checked;

        if (!order_check){
            alert('상위 주문 내용 확인에 동의해주세요.');
            return false;
        }

        //카드결제 & 무통장입금 구분
        var payment_check = thisForm.elements["payment"].value;

        if (payment_check !== "card"){
            thisForm.submit();
        };

       //주문 정보 입력 페이지의 탭이 2개로 분류되면서 동일 책 정보가 중복되어 나누기 2를 함.
        var count = $("input[name='book']").length/2;
        var total_price = 0;
        var order_name = $("input[name='book']").eq(0).attr("value");

        //주문 상품의 총 가격
        for (i=0 ; i<count; i++){
            total_price += Number($("input[name='price']").eq(i).attr("value"))*Number($("input[name='quantity']").eq(i).attr("value"));
        }

        if (count>1){
            order_name += ' 외 ' + (count-1) + '종';
        }


        $(function(){
            var IMP = window.IMP;
            IMP.init('imp96816484');

           IMP.request_pay({
               pg : 'kakao',
               pay_method : 'card',
               merchant_uid : 'merchant_' + new Date().getTime(),
               name : order_name,
               amount : total_price,
               buyer_email : thisForm.elements["e_mail"].value,
               buyer_name :  thisForm.elements["name"].value,
               buyer_tel :  thisForm.elements["p_number"].value,
               buyer_addr :  thisForm.elements["address"].value,
               buyer_postcode :  '',
               m_redirect_url : '/khx/payEnd.action'	// 결제 완료 후 보낼 컨트롤러의 메소드명
           }, function(rsp) {
            if ( rsp.success ) { // 성공시
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
                thisForm.submit();

            } else { // 실패시
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            });

        });

    }

    window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
            alert('제출 양식이 만료되었습니다.');
            history.back();
        }
    }

</script>
{% block footer %}
{% include 'footer.html' %}
{% endblock footer  %}

{% endblock body %}