<form class="mt-3" method="post" enctype="multipart/form-data">{% csrf_token %}
    <select name="province" id="province">
        <option>---------- 도 ----------</option>
        {% for province in provinces %}
            <option>{{ province.name }}</option>
        {% endfor %}
    </select>
    <select name="city" id="city">
        <option>---------- 시 ----------</option>
        {% for city in cities %}
            <option>{{ city.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary" onclick="">검색</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('#province').change(function() {
            var province_name = this.value //사용자가 선택한 요소..?

            $.ajax({
                type: "POST",
                url: "{% url 'customer:ajax_get_region2' %}",
                data: {'province_name': province_name, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response){
                    var items = "<option>---------- 시 ----------</option>";
                    for(var i=0; i<response.cities.length; i++){
                        items += ("<option>" + response.cities[i].name  + "</option>")  //해당하는 도의 도시 개수만큼 추가
                    }

                    $("#city").html(items);   //해당 div에 데이터값을 넣어준다.
                },
                error: function(request, status, error){  //각 인자들에 따라서 어떤 에러 형태를 보여줄 것인가?
                    alert(error);
                },
            });
        });
    });
</script>